@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #f0bf4c !important;
  stroke: #f0bf4c !important;
  fill: #f0bf4c !important;
}

.swiper-pagination-bullet {
  background-color: #f0bf4c !important;
}

.swiper-pagination-bullet-active {
  background-color: #f0bf4c !important;
}

.wrapper {
  @apply container mx-auto px-5 lg:px-0;
}
