@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: #faf7f5 !important;
  stroke: #faf7f5 !important;
  fill: #faf7f5 !important;
}

.swiper-pagination-bullet {
  background-color: rgba(250, 247, 245, 0.7) !important;
}

.swiper-pagination-bullet-active {
  background-color: #faf7f5 !important;
}
